:root {
    font-family: "Open Sans", sans-serif;
}

div {
    width: 1280px;
}

main {
    //*background-color: aqua;*//
    width: 1120px;
    margin: 88px 80px;
    padding: auto;
}

#conheça p {
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

#conheça h1 {
    font-size: 36px;
    margin-top: 8px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 40px;
}

#conheça img {
    width: 1120px;
    height: 660px;
    border-radius: 28px;
}

#sub1 p {
    font-size: 16;
    text-align: center;
    font-style: italic;
    width: 1120px;
}

#descubra p {
    width: 255px;
    height: 22px;
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0px;
    margin-top: 64px;
    margin-bottom: 0px;
}

#descubra h2 {
    width: 683px;
    height: 44px;
    font-size: 32px;
    font-weight: bold;
    padding: 4px 0px;
    margin-top: 0px;
    margin-bottom: 8px;

}

#sub2 p {
    width: 1120px;
    height: 88px;
    font-size: 16px;
    padding: 2px 0px;
    margin-top: 0px;
    text-align: left;
}

#templo-1 img {
    width: 1120px;
    height: 350px;
    border-radius: 28px;
    margin-top: 64px 0px;
}

#templo-1 h3 {
    width: 1183.51px;
    height: 38px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px ;
    margin-bottom: 4px;
}

#templo-1 p {
    width: 1120px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;
    text-align: left;
}

#historia-1 p {
    width: 1120px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

#historia-1 ul {
    font-size: 16px;
    font-weight: bold;
}

#templo-2 img {
    width: 1120px;
    border-radius: 28px;
}

#templo-2 h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px ;
    margin-bottom: 4px;
}

#templo-2 p {
    width: 1120px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1px;
    text-align: left;
}

#historia-2 p {
    width: 1120px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
}

#historia-2 ul {
    font-size: 16px;
    font-weight: bold;
}

#templo-3 img {
    width: 1120px;
    border-radius: 28px;
}

#templo-3 h3 {
    font-size: 28px;
    padding-top: 28px;
    padding-bottom: 0px;
    margin: 0px;
}

#templo-3 p {
    width: 1120px;
    font-size: 16px;
    margin-top: 4px;
    text-align: left;
}

#Bompara p {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    text-align: left;
}

#Bompara ul {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 27px;
    padding: 0px;
}

main p {
    font-size: 16px;
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 70px;
}

hr {
    margin: 50px 0px;
    width: 1120px;
    text-align: left;
}